body{
  background-color: grey;
}
.blog-post-card{
  background-color: white;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  margin-top: auto;
}
.post-img{
  background-size: contain;
  border-bottom: 2px solid black;
  width: 100%;
}
.post-content{
  padding: 20px;
}
.post-title{
  color: red;
  margin: 40px;
}
.post-excerpt{
  color: green;
  margin: 40px;
}
a{
  color: brown;
  background-color: pink;
  margin: 50px;
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
}
.read-more:hover{
  background-color: green;
}