.form-container{
  background-color: rgb(86, 170, 219);
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}
label{
  margin: 30px;
  color: rgb(247, 236, 236);
  display: inline-block;
}
input, textarea{
  width: 300px;
  padding: 10px;
  margin-bottom: 30px;
  display: block;
  border-radius: 20px; 
}
button{
  background-color: rgb(145, 153, 153);
  font-size: 20px;
}
button:hover{
  background-color: aqua;
}