body{
  background-color: #4ac8d4;
  font-family: arial, sans-serif;
}
.form-container{
  background-color: #d1ccbe;
  display: inline-block;
  border-radius: 20px;
  padding: 30px;

  width: 200px;
  margin: 40px 50px; 
}

label{
  text-align: center;
  margin: 50px;
  color: #242626;
}

input, textarea{
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
}

button{
  background-color: #4ac8d4;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.3em;
  color: #fff;
}

button:hover{
  background-color: blue;
}

h2, p{
  text-align: center;
}
