*{
  box-sizing: border-box;
}
body{
  background: linear-gradient(60deg, #196b42, #11c26a);
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
}

.form-container{
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  margin: 20px auto;
}

label{
  margin: 5px;
  color: #1a241f;
}

input, textarea{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #484f4b;
  border-radius: 5px;
}

input, textarea, label{
  display: block;
}

button{
  padding: 5px;
  font-size: 1.2em;
  width: 50%;
  background-color: #14c96f;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #000;
}

button:hover{
  background-color: #505e57;
}

