body{
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  min-height: calc(100vh - 100px);
}
hr{
  width: 50%;
}
section{
  width: 50%;
}