body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.space{
  text-align: center;
  width: 200px;
  height: 200px;
  position: relative;
}
.space, .earth{
  position: absolute;       
  top: 50%;  
  left:50%;             
  transform: translate(-50%, -50%)
}
.earth{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, blue, green);
  border-radius: 50%;
}
.orbit{
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  animation: orbit 5s linear infinite;
}
.moon{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, white, #FFF);
  border-radius: 50%;
}
@keyframes orbit{
  0%{
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100%{
    transform: rotate(360deg) translate(-50%, -50%);
  }
}